Repository zapal-tech/erp-erpnext, changes with the owners that CODEOWNERS names for each.
All owners: @deepeshgarg007, @ruthra-kumar, @khushi8112, @rohitwaghchaure, @akhilnarang

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

erpnext/accounts/               @deepeshgarg007 @ruthra-kumar
erpnext/assets/                 @khushi8112 @deepeshgarg007
erpnext/regional                @deepeshgarg007 @ruthra-kumar
erpnext/selling                 @deepeshgarg007 @ruthra-kumar
erpnext/support/                @deepeshgarg007
pos*                            

erpnext/buying/                 @rohitwaghchaure
erpnext/maintenance/            @rohitwaghchaure
erpnext/manufacturing/          @rohitwaghchaure
erpnext/quality_management/     @rohitwaghchaure
erpnext/stock/                  @rohitwaghchaure
erpnext/subcontracting          @rohitwaghchaure

erpnext/controllers/            @deepeshgarg007 @rohitwaghchaure
erpnext/patches/                @deepeshgarg007 

.github/                        @deepeshgarg007
pyproject.toml                  @akhilnarang

chore: removed print statement
  erpnext/accounts/report/asset_depreciation_ledger/asset_depreciation_ledger.py
Owners: @deepeshgarg007, @ruthra-kumar

fix: IndexError in Asset Depreciation Ledger when query result is empty
  erpnext/accounts/report/asset_depreciation_ledger/asset_depreciation_ledger.py
Owners: @deepeshgarg007, @ruthra-kumar

fix: typeerror on transaction.js
  erpnext/public/js/controllers/transaction.js
Owners: none

fix: Data Should be Computed in Backend to Maintain Consistent Behaviour (#44195)
  erpnext/accounts/report/balance_sheet/balance_sheet.py
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/profit_and_loss_statement/profit_and_loss_statement.py
  erpnext/public/js/financial_statements.js
Owners: @deepeshgarg007, @ruthra-kumar

fix: link cash flow rows and fix summary linking
  erpnext/accounts/report/cash_flow/cash_flow.js
  erpnext/accounts/report/cash_flow/cash_flow.py
  erpnext/accounts/report/financial_statements.py
  erpnext/public/js/financial_statements.js
Owners: @deepeshgarg007, @ruthra-kumar

chore: resolve conflict
  erpnext/public/js/financial_statements.js
Owners: none

chore: revert 'stub'
  erpnext/accounts/report/financial_statements.py
  erpnext/public/js/financial_statements.js
Owners: @deepeshgarg007, @ruthra-kumar

fix: Dashboard for `Payment Request`
  erpnext/accounts/doctype/payment_request/payment_request_dashboard.py
Owners: @deepeshgarg007, @ruthra-kumar

refactor: Used object to get payment request status indicator
  erpnext/accounts/doctype/payment_request/payment_request_list.js
Owners: @deepeshgarg007, @ruthra-kumar

refactor: Move `PR` link filters to client side
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_request/payment_request.py
Owners: @deepeshgarg007, @ruthra-kumar

fix: Add filter for `outstanding_amount` to fetch open PRs
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Owners: @deepeshgarg007, @ruthra-kumar

revert: remove default `Payment Request` indicator color
  erpnext/accounts/doctype/payment_request/payment_request_list.js
Owners: @deepeshgarg007, @ruthra-kumar

chore: resolve conflict
  erpnext/accounts/doctype/payment_request/payment_request_list.js
Owners: @deepeshgarg007, @ruthra-kumar

perf: cache product bundle items at document level (#44440)
  erpnext/controllers/selling_controller.py
Owners: @deepeshgarg007, @rohitwaghchaure

fix: added fieldname to avoid fieldname to translate
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Owners: @deepeshgarg007, @ruthra-kumar

perf: reduce queries during transaction save
  erpnext/accounts/party.py
  erpnext/controllers/selling_controller.py
  erpnext/utilities/transaction_base.py
Owners: @deepeshgarg007, @ruthra-kumar, @rohitwaghchaure

fix: Added translation for `Account` column
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Owners: @deepeshgarg007, @ruthra-kumar

fix: Translate `Party Account` column label
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Owners: @deepeshgarg007, @ruthra-kumar

fix: handle multi currency in common party journal entry
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
Owners: @deepeshgarg007, @ruthra-kumar, @rohitwaghchaure

chore: resolve conflict
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
Owners: @deepeshgarg007, @ruthra-kumar

fix: set correct unallocated amount in Payment Entry (#43958)
  erpnext/accounts/doctype/exchange_rate_revaluation/test_exchange_rate_revaluation.py
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/doctype/payment_entry_deduction/payment_entry_deduction.json
  erpnext/accounts/doctype/payment_entry_deduction/payment_entry_deduction.py
  erpnext/accounts/doctype/unreconcile_payment/test_unreconcile_payment.py
  erpnext/accounts/test/test_utils.py
  erpnext/patches.txt
  erpnext/patches/v15_0/set_is_exchange_gain_loss_in_payment_entry_deductions.py
Owners: @deepeshgarg007, @ruthra-kumar

chore: resolve conflicts
  erpnext/accounts/doctype/payment_entry_deduction/payment_entry_deduction.json
  erpnext/patches.txt
Owners: @deepeshgarg007, @ruthra-kumar

refactor(UI): Rearranging fields under new sections
  erpnext/setup/doctype/company/company.json
Owners: none

fix: always set sales incoming rate for internal transfers
  erpnext/controllers/buying_controller.py
Owners: @deepeshgarg007, @rohitwaghchaure

test: validate buying workflow
  erpnext/controllers/tests/test_accounts_controller.py
Owners: @deepeshgarg007, @rohitwaghchaure

fix: adjusted incoming rate for zero rated item in purchase receipt
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Owners: @deepeshgarg007, @ruthra-kumar, @rohitwaghchaure

test: add new unit test to validate paid amount in payment request
  erpnext/accounts/doctype/payment_request/test_payment_request.py
Owners: @deepeshgarg007, @ruthra-kumar

fix: calculate submitted payment entry as paid amount
  erpnext/accounts/doctype/payment_request/payment_request.py
Owners: @deepeshgarg007, @ruthra-kumar

chore: fix typo
  erpnext/accounts/report/gross_profit/gross_profit.py
Owners: @deepeshgarg007, @ruthra-kumar

fix: remove queries
  erpnext/accounts/report/gross_profit/gross_profit.py
Owners: @deepeshgarg007, @ruthra-kumar

fix: correct buying amount for product bundel
  erpnext/accounts/report/gross_profit/gross_profit.py
Owners: @deepeshgarg007, @ruthra-kumar

refactor: validate debit and credit on before_submit
  erpnext/accounts/doctype/journal_entry/journal_entry.py
Owners: @deepeshgarg007, @ruthra-kumar

fix: move validate_total_debit_and_credit from validate to on_submit in Journal Entry
  erpnext/accounts/doctype/journal_entry/journal_entry.py
Owners: @deepeshgarg007, @ruthra-kumar

chore(release): Bumped to Version 15.45.0
  erpnext/__init__.py
Owners: none

fix: add strings for translation in timesheet.js (#44496)
  erpnext/projects/doctype/timesheet/timesheet.js
Owners: none

fix: add labels for translation in sales_order.js
  erpnext/selling/doctype/sales_order/sales_order.js
Owners: @deepeshgarg007, @ruthra-kumar

refactor: translatable label on pos payments (#42081)
  erpnext/selling/page/point_of_sale/pos_payment.js
Owners: none

fix: strings for translation in pos_past_order_summary.js
  erpnext/selling/page/point_of_sale/pos_past_order_summary.js
Owners: none

fix: add label strings for translation in pos_controller.js
  erpnext/selling/page/point_of_sale/pos_controller.js
Owners: none

fix: add strings for translation in pos_item_cart.js
  erpnext/selling/page/point_of_sale/pos_item_cart.js
Owners: none
