Repository zapal-tech/erp-erpnext, changes with the owners that CODEOWNERS names for each.
All owners: @deepeshgarg007, @ruthra-kumar, @khushi8112, @rohitwaghchaure, @akhilnarang

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

erpnext/accounts/               @deepeshgarg007 @ruthra-kumar
erpnext/assets/                 @khushi8112 @deepeshgarg007
erpnext/regional                @deepeshgarg007 @ruthra-kumar
erpnext/selling                 @deepeshgarg007 @ruthra-kumar
erpnext/support/                @deepeshgarg007
pos*                            

erpnext/buying/                 @rohitwaghchaure
erpnext/maintenance/            @rohitwaghchaure
erpnext/manufacturing/          @rohitwaghchaure
erpnext/quality_management/     @rohitwaghchaure
erpnext/stock/                  @rohitwaghchaure
erpnext/subcontracting          @rohitwaghchaure

erpnext/controllers/            @deepeshgarg007 @rohitwaghchaure
erpnext/patches/                @deepeshgarg007 

.github/                        @deepeshgarg007
pyproject.toml                  @akhilnarang

chore: linter fix
  erpnext/selling/page/point_of_sale/pos_item_cart.js
Owners: none

fix: add title for translation in asset.js
  erpnext/assets/doctype/asset/asset.js
Owners: @khushi8112, @deepeshgarg007

fix: add labels for translation in sales_order_analysis.py
  erpnext/selling/report/sales_order_analysis/sales_order_analysis.py
Owners: @deepeshgarg007, @ruthra-kumar

fix: add strings for translation payment_terms_status_for_sales_order.py
  erpnext/selling/report/payment_terms_status_for_sales_order/payment_terms_status_for_sales_order.py
Owners: @deepeshgarg007, @ruthra-kumar

fix: add string for translation in delayed_tasks_summary.py
  erpnext/projects/report/delayed_tasks_summary/delayed_tasks_summary.py
Owners: none

fix: add labels for translation in quality_inspection_summary.py
  erpnext/manufacturing/report/quality_inspection_summary/quality_inspection_summary.py
Owners: @rohitwaghchaure

fix: add labels for translation in production_analytics.py
  erpnext/manufacturing/report/production_analytics/production_analytics.py
Owners: @rohitwaghchaure

fix: add labels for translation in purchase_order_analysis.py
  erpnext/buying/report/purchase_order_analysis/purchase_order_analysis.py
Owners: @rohitwaghchaure

chore(release): Bumped to Version 15.45.1
  erpnext/__init__.py
Owners: none

chore: fix conflicts
  erpnext/manufacturing/doctype/bom/bom.py
Owners: @rohitwaghchaure

chore(release): Bumped to Version 15.45.2
  erpnext/__init__.py
Owners: none

fix: duplicate buttons
  erpnext/manufacturing/doctype/bom/bom.js
Owners: @rohitwaghchaure

chore(release): Bumped to Version 15.45.3
  erpnext/__init__.py
Owners: none

chore(release): Bumped to Version 15.45.4
  erpnext/__init__.py
Owners: none

fix: add docstatus for translation
  erpnext/templates/includes/issue_row.html
  erpnext/templates/includes/projects/project_row.html
  erpnext/templates/includes/transaction_row.html
  erpnext/templates/pages/timelog_info.html
Owners: none

fix: prevent set_payment_schedule on return documents
  erpnext/stock/doctype/delivery_note/delivery_note.py
Owners: @rohitwaghchaure

fix: correct color for draft in list view
  erpnext/accounts/doctype/payment_request/payment_request_list.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice_list.js
  erpnext/stock/doctype/pick_list/pick_list_list.js
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order_list.js
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt_list.js
Owners: @deepeshgarg007, @ruthra-kumar, @rohitwaghchaure

fix: restrict advance payment entries with flag
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/controllers/accounts_controller.py
Owners: @deepeshgarg007, @ruthra-kumar, @rohitwaghchaure

fix: precision check for salvage value
  erpnext/assets/doctype/asset/asset.py
Owners: @khushi8112, @deepeshgarg007

refactor: consider against voucher when not filtered on voucher_no
  erpnext/accounts/report/general_ledger/general_ledger.py
Owners: @deepeshgarg007, @ruthra-kumar

fix: update free item qty while adding same item in seperate row
  erpnext/accounts/doctype/pricing_rule/utils.py
Owners: @deepeshgarg007, @ruthra-kumar

chore(release): Bumped to Version 15.45.5
  erpnext/__init__.py
Owners: none
